*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
  /* background-color: rgb(19, 19, 19);
  color: white;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(19, 19, 19);
}

section {
  background-color: rgb(19, 19, 19);
  /* padding: 25px; */
  /* border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: ceter;
  width: 40%; */
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
}

h1 {
  margin-bottom: 20px;
  color: white;
}

.form-title{
    display: flex;
    /* justify-content: flex-start; */
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
}

label {
  margin-bottom: 10px;
}

input,
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 210px;
  height: 35px;
}




.form_content{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 12px;
    width: 450px;
    flex-shrink: 0;
}

input {
    background-color: white;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
}

button {
  background-color: rgb(19, 19, 19);
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  cursor: pointer;
  width: 430px;
  height: 35px;
  font-size: 11px;
  flex-shrink: 0;
}

.form-button{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* flex-shrink: 0; */
}

.socials_link {
    display: flex;
    gap: 10px;
    margin-top: 70px;
}

img{
    height: 15px;
}

a{
    border: 0.3px solid white;
    border-radius: 80%;
    padding: 5px;
}

.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
}


